table {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.rendu {
  color: green;
  border: 1px solid green
}

.nonRendu {
  color: red;
  border: 2px dashed red
}
