<h1>{{titre}}</h1>

<main class="container">

  <div class="ajouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="warn">
        Ajouter un devoir
      </button>
    </a>
  </div>

  <mat-list *ngFor="let a of assignments">
    <h3 mat-subheader>{{a.dateDeRendu|date:'dd/MM/yyyy'}}</h3>

    <a routerLink="/assignments/{{a.id}}">
      <mat-list-item>
        <p *ngIf="a.rendu; else nonsoumis" appRendu>
          {{a.nom}}. A été rendu à temps.
        </p>
        <ng-template #nonsoumis>
          {{a.nom}}, n'a pas été rendu !
        </ng-template>
      </mat-list-item>
    </a>

    <mat-divider></mat-divider>
  </mat-list>
  <!--
<table>
  <tr *ngFor="let a of assignments">
    <td>{{a.nom}}</td>
    <td>{{a.dateDeRendu}}</td>
    <td>{{a.rendu}}</td>
</tr>
</table>
 -->

</main>
