<h1>{{titre}}</h1>

<form ngForm #assignmentForm
      (submit)="onSubmit()"
      class="form"
>
  <mat-form-field>
    <input matInput
           [(ngModel)]="nomDevoir"
          name="nom"
          placeholder="Nom devoir"
    >
    <mat-form-field appearance="fill">
      <mat-label>Date de rendu</mat-label>
      <input matInput [matDatepicker]="picker"
             [(ngModel)]="dateDeRendu"
             name="date"
             placeholder="Date de Rendu"
      >
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-form-field>

  <button mat-stroked-button color="primary">
    Ajouter un devoir
  </button>
</form>

<div *ngFor="let a of assignments">
  <p *ngIf="a.rendu; else nonsoumis" appRendu>
    {{a.nom}} date prévue de rendu:
    {{a.dateDeRendu}}. Rendu : {{a.rendu}}
  </p>
  <ng-template #nonsoumis>
    {{a.nom}} date prévue de rendu:
    {{a.dateDeRendu}}. N'a pas été rendu !
  </ng-template>
</div>

<!--
<table>
  <tr *ngFor="let a of assignments">
    <td>{{a.nom}}</td>
    <td>{{a.dateDeRendu}}</td>
    <td>{{a.rendu}}</td>
</tr>
</table>
 -->
